@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-primary-orange: #ff6900; /* unified-orange-color */
  --color-secondary-orange: #ffb86a; /* unified-orange-color */
  --color-neutral-gray: #757575; /* neutral-gray */
  --color-accent-purple: #6a0dad; /* accent-purple */
  --color-yellow: #ffd700; /* yellow */
  --color-background-light: #f6f6f6; /* background-light */
}
